text{
  font-family: System-Regular;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

.std-color{
  fill: "fb-red";
}

.off-color{
  fill: "fb-white";
}

.std-button{
  width: 50%;
}

.wide-button{
  width: 70%;
}

.serve-indicator1{
  y: 119;
}

.serve-indicator2{
  y: 169;
}

.serve-indicator{
  width: 100%;
  height: 42;
}

.label{
  font-size: 40;
  y:110;
}

.number{
  font-size: 60;
}

.points{
  x:0;
}

.score{
  x:150;
}

.p1-y{
  y:160;
}

.p2-y{
  y:210;
}

.yZero{
  y:0;
  height:100;
}